* {
  position: relative;
}
th {
  background-color: rgb(13, 13, 13);
}
tbody tr:nth-of-type(even) {
  background-color: rgb(13, 13, 13);
}
tbody tr:nth-of-type(odd) {
  background-color: #2c3844;
}
tr,
table,
td,
th {
  border: 3px solid #2c3844;
  border-collapse: collapse;
  color: #fff;
  width: 700px;
  height: 40px;
}
td {
  padding-left: 10px;
}
table {
  border-width: 40px 25px 40px 25px;
  border-color: rgb(90, 185, 185);
}
.Year {
  text-align: center;
}
.select {
  left: 5px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #5ab9b9;
  color: #fff;
}
